.studListContainer {
	#tittle {
		margin-top: 20px;
		font-size: 40px;
		font-stretch: condensed;
		letter-spacing: 4px;
		width: 980px;
		text-align: center;
	}

	.table {
		.login {
			width: 140px;
		}

		.name {
			width: 200px;
		}

		.priv {
			text-align: center;
			padding: 0 20px;
		}

		.auth {
			width: 100px;
		}

		th {
			text-align: center;
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}