.subscribtionsContainer {
	margin-left: 400px;

	#tittle {
		margin-top: 20px;
		font-size: 40px;
		font-stretch: condensed;
		letter-spacing: 4px;
		width: 980px;
		text-align: center;
	}

	.eventChoice {
		margin-top: 50px;
		font-size: 20px;

		label {
			width: 120px;
		}

		select {
			margin: 0 0 0 25px;
			font-size: 15px;
			width: auto;
		}

		#places {
			font-size: 16px;
			width: 360px;
			margin-left: 15px;
		}
	}

	#inscrits {
		width: 980px;
		text-align: center;
		font-style: italic;
		font-size: 20px;
		margin-bottom: 40px;
	}

	ul {
		padding-left: 0;
		list-style: none;

		#eachSub {
			width: 980px;

			&:nth-of-type(2n) {
				background-color: var(--lighter-grey);
			}

			.subLine {
				display: flex;
				flex-direction: row;

				li {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;

					&#login {
						color: var(--primary);
						width: 180px;
						padding-left: 60px;
						margin-right: 20px;
						padding-top: 3px;
					}

					&#price {
						padding-left: 80px;
						margin-right: 20px;
						width: 200px;
						padding-top: 3px;
					}

					&#date {
						width: 280px;
						padding-left: 60px;
						margin-right: 20px;
						padding-top: 3px;
					}

					&#button {
						padding-left: 80px;
						width: 260px;
					}
				}
			}
		}
	}

	.studChoice {
		margin-top: 30px;
		margin-bottom: 60px;
		font-size: 20px;

		.enfantDeSatan {
			display: inline-block;

			button {
				margin-left: -500px;
			}

			.addInput {
				width: 210px;
			}
		}

		#details {
			font-size: 18px;
			font-style: italic;
			margin-left: 10px;
		}

		input {
			font-size: 15px;
			margin: 10px 0 0 147px;
		}
	}

	button {
		border: none;
		width: 100px;
		height: 40px;
		color: var(--white);
		background: var(--secondary);
		margin: 40px 0;

		&:hover {
			background: var(--secondary-dark);
		}

		&:active {
			background: var(--secondary-dark);
		}
	}

	#unsub {
		border-radius: 5px;
		margin: 0;
		background: none;
		width: 30px;
		height: 30px;

		&:hover {
			background-color: var(--black);
		}
	}

	.studChoice {}
}