.adminNavbarContainer {
	position: absolute;
	margin-right: 5%;
	left: 0;
	display: flex;
	flex-direction: column;
	text-align: center;

	a {
		color: inherit;
		text-decoration: inherit;

		&#expendButton {
			svg {
				height: 3vh;
				width: auto;
				min-width: 1vw;
				min-height: 1vw;
			}
			display: none;
			text-align: right;
			margin: 0 0.5vw;
		}
	}

	h2 {
		text-decoration: none;
		font-size: 3vh;
		color: VAR(--white);
		margin: 0;
		padding: 1vh 0.5vw;
	}

	h3 {
		color: VAR(--light-grey);
		font-size: 2vh;
		margin: 0;
		padding: 1.7vh 0.5vw;

		&:hover {
			color: VAR(--white);
			transition: 0.4s;
		}
	}

	button {
		border: none;
		width: 25%;
		min-height: 3vh;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		border-radius: 15px;
		width: 100px;

		&:hover {
			transition: 0.5s;
		}

		&#bigRedButton {
			color: #FFFFFF;
			background-color: red;

			&:hover {
				background-color: #8B0000;
			}
		}

		&#bigYellowButton {
			color: #000000;
			background-color: yellow;

			&:hover {
				background-color: #8B8B00;
				color: #FFFFFF;
			}
		}
	}

	#panel {
		padding: 0 40px;
		transition: 0.5s;
		background: var(--black);
		color: var(--white);
		// position: absolute;
		height: calc(100vh - 80px);
		// left: -800px;
		// width: 800px;
	}
}
@media (max-width: 100vh) {
	.adminNavbarContainer {
		text-align: left;

		a {
			text-align: center;

			&#expendButton {
				svg {}
				display: inline;
			}
		}

		h2 {}

		h3 {
			&:hover {}
		}

		button {
			margin: auto;

			&:hover {}

			&#bigRedButton {
				&:hover {}
			}

			&#bigYellowButton {
				&:hover {}
			}
		}

		#panel {
			position: absolute;
			z-index: 6;
			left: -100vw;
			width: 100vw;
		}

		#buttonContainer {
			text-align: center;
		}
	}
}