.studListContainer {
	margin-left: 400px;

	#eachLine {
		margin-bottom: 10px;
	}

	div {
		#pagination {
			width: 940px;
			display: flex;
			justify-content: center;
			margin: 50px 0;
		}
	}

	.dropdownContainer {
		button {
			border: none;
			background: var(--lighter-grey);

			&#dropdownButton {
				width: 100px;
				height: 30px;
				color: var(--white);
				background: var(--secondary);
				margin: 40px 0;

				&:hover {
					background: var(--secondary-dark);
				}

				&:active {
					background: var(--secondary-dark);
				}
			}

			svg {
				width: 18px;
			}
		}

		#dropdownBg {
			width: 100vw;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.5);
			backdrop-filter: blur(1px);
			display: none;
		}

		hr {
			margin-bottom: -10px;
		}

		#dropdown {
			background: var(--light-grey);
			padding: 20px;
			width: 200px;
			position: absolute;
			z-index: 2;
			display: none;
			top: -20px;
			margin-top: 270px;

			input {
				width: 200px;

				&[type] {
					width: auto;
					margin-right: 20px;
				}
			};
		}

		#login {
			margin: 15px 0 10px;
		}

		#tri {
			margin: 20px 0 0;
		}

		#triDate {
			margin: 5px 0 0 15px;
			font-size: 14px;
		}
	}

	#tittle {
		margin: 20px 0;
		font-size: 40px;
		font-stretch: condensed;
		letter-spacing: 4px;
		width: 980px;
		text-align: center;
	}

	.table {
		width: 980px;

		.Desclogin {
			width: 140px;
			font-weight: bold;
			font-size: 20px;
		}

		.Descname {
			width: 280px;
			font-weight: bold;
			font-size: 20px;
		}

		.Descpriv {
			text-align: center;
			font-weight: bold;
			font-size: 20px;
		}

		.Descauth {
			width: 280px;
			font-weight: bold;
			font-size: 20px;
		}

		.DescjoinDate {
			min-width: 280px;
			font-weight: bold;
			font-size: 20px;
		}

		.login {
			width: 140px;
			padding-left: 20px;
		}

		.name {
			width: 280px;
			padding-left: 40px;

			#lastname {
				text-transform: uppercase;
			}
		}

		.priv {
			text-align: center;
			padding: 0 20px;
		}

		.auth {
			width: 280px;
			padding-left: 60px;
		}

		.joinDate {
			min-width: 280px;
			padding-left: 60px;
		}

		th {
			text-align: center;
			height: 70px;
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	button#premium {
		border: none;
		background: var(--secondary);
		color: var(--white);
		width: 200px;
		height: 30px;

		&:active,
		&:hover {
			background: var(--secondary-dark);
		}
	}
}