:root {
	--default_text_bg_color: white;
	--ko_text_bg_color: LightCoral;
	--ok_text_bg_color: lightgreen;
}

input.neutral {
	background-color: var(--default_text_bg_color);
	transition: 5s;
}

input.ok {
	border-color: var(--ok_text_bg_color);
	transition: none;
}

input.ko {
	border-color: var(--ko_text_bg_color);
	transition: none;
}