@fontface {
	font-family: Futura;
	src: url("../assets/fonts/Futura-Medium-01.ttf") format("truetype");
}
@fontface {
	font-family: Futura;
	src: url("../assets/fonts/Futura-MediumItalic-02.ttf") format("truetype");
	font-style: italic;
}
@fontface {
	font-family: Futura;
	src: url("../assets/fonts/Futura-Bold-03.ttf") format("truetype");
	font-weight: bold;
}
@fontface {
	font-family: Futura;
	src: url("../assets/fonts/Futura-CondensedMedium-04.ttf") format("truetype");
	font-stretch: condensed;
}
@fontface {
	font-family: Futura;
	src: url("../assets/fonts/Futura-CondensedExtraBold-05.ttf") format("truetype");
	font-weight: bold;
	font-stretch: condensed;
}

html {
	--white: #E9ECED;
	--light-grey: #B0BABF;
	--lighter-grey: #D2D8DA;
	--dark-grey: #7E9099;
	--black: #151E23;
	--primary: #3B7E9C;
	--primary-light: #5CA1C1;
	--primary-dark: #224759;
	--secondary: #D77A61;
	--secondary-dark: #CE5B3B;
	--secondary-light: #E7AD9D;
	--premium-gold: #eee9bb;
	--premium-gold-logo: gold;
}