html {
	hyphens: auto;
	--white: #E9ECED;
	--light-grey: #B0BABF;
	--lighter-grey: #D2D8DA;
	--dark-grey: #7E9099;
	--black: #151E23;
	--primary: #3B7E9C;
	--primary-light: #5CA1C1;
	--primary-dark: #224759;
	--secondary: #D77A61;
	--secondary-dark: #CE5B3B;
	--secondary-light: #E7AD9D;
	--premium-gold: #eee9bb;
	--premium-gold-logo: gold;
	--error: rgb(215,113,108);
	--warn: rgb(224,166,66);
	--silver: rgba(119,136,153,0.5);
	--gold: rgba(255,215,0,0.5);
	--bronze: rgba(205,127,50,0.5);

	a {
		text-decoration: inherit;
		color: var(--primary-light);

		&:hover {
			color: var(--primary);
		}
	}
}