.popUpContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 99;

	.popUp {
		background: var(--white);
		border: solid var(--primary) 2px;
		padding: 20px;
		height: 200px;

		h1 {}

		p {}

		.buttons {
			display: flex;
			justify-content: space-around;

			button {
				border: none;
				color: var(--white);
				background: var(--secondary);
				width: 60px;
				height: 30px;

				&:hover {
					background: var(--secondary-dark);
				}

				&#confirm {
					background: var(--primary);

					&:hover {
						background: var(--primary-dark);
					}
				}
			}
		}
	}
}