.contactContainer {
	<<<<<<< HEAD min-height: calc(100vh - 80px - 120px);
	background-image: radial-gradient(at left bottom, var(--primary) 5%, var(--white) 70%);
	background-clip: border-box;
	padding: 0;

	form {
		margin: 0 calc((100% - 600px) / 2);
		width: 600px;
		padding-top: 10%;

		.section {
			margin: 20px;
			display: flex;
			flex-direction: column;

			label {
				font-style: condensed;
				padding-bottom: 10px;
				font-size: 20px;
			}

			textarea {
				height: 200px;
				background: var(--white);
			}
		}

		button {
			margin: 20px 20px 20px 280px;
			background: var(--secondary);
			color: var(--white);
			border: none;
			width: 150px;
			height: 40px;

			&:hover {
				background: var(--secondary-dark);
			}
		}
	}
}
@media (max-width: 100vh) {
	.contactContainer {
		padding: 2vw;

		form {
			margin: 0 calc((100% - 95%) / 2);
			width: 95%;
			padding-top: 15%;

			.section {
				margin: 20px;
				display: flex;
				flex-direction: column;
			}

			button {
				margin: 20px 20px 20px calc(100% - 120px);
				background: var(--secondary);
				color: var(--white);
				border: none;
				width: 100px;
				height: 30px;

				&:hover {
					background: var(--secondary-dark);
				}
			}
		}
	}
}