.contactContainer {
  min-height: calc(100vh - 80px);
  background-image: radial-gradient(at left bottom,
       var(--primary) 5%, var(--white) 70%);
       background-clip: border-box;
       padding: 50px 50px 50px 400px;

  form {
    width: 400px;

    .section{
      margin: 20px;
      display: flex;
      flex-direction: column;
    }

    button {
      margin: 20px 20px 20px 280px;

      background: var(--secondary);
      color: var(--white);
      border: none;
      width: 100px;
      height: 30px;

      &:hover {
        background: var(--secondary-dark)
      }
    }
  }
}

@media (max-width: 100vh)
{
  .contactContainer {
    padding: 2vw;

    form {
      width: 100%;

      .section{
        margin: 20px;
        display: flex;
        flex-direction: column;
      }

      button {
        margin: 20px 20px 20px calc(100% - 120px);

        background: var(--secondary);
        color: var(--white);
        border: none;
        width: 100px;
        height: 30px;

        &:hover {
          background: var(--secondary-dark)
        }
      }
    }
  }
}
