.container {
	width: 400px;
	text-align: justify;
	font-size: 18px;
	padding: 5px;
	// border-left: solid var(--primary) 2px;
	img {
		--imgsize: 500px;
		width: var(--imgsize);
		height: 300px;
		object-fit: cover;
		margin: 10px calc((400px - var(--imgsize)) / 2) 20px;
	}
}