.eventContainer {
	--unit-size: 5vmax;
	height: calc(var(--unit-size) * 9);
	width: calc(var(--unit-size) * 16);
	color: #151E23;
	background-color: #5CA1C1;
	overflow: hidden;
	margin: 0 calc((100vw - (var(--unit-size) * 16) - 10vw) / 2);
	padding: calc(var(--unit-size) * .5);

	#thumbnail {
		margin-top: calc(var(--unit-size) * -.5);
		padding-top: calc(var(--unit-size) * .5);
		background-color: #3B7E9C;

		img {
			width: calc(var(--unit-size) * 3.5);
			height: calc(var(--unit-size) * 3.5);
			object-fit: cover;
		}
	}

	div {
		&.flex {
			display: flex;
			justify-content: space-between;
		}

		&.row {
			flex-direction: row;
		}

		&.col {
			flex-direction: column;
		}

		&#titleDuration {
			height: calc(var(--unit-size) * 3.5);
			text-align: center;
			width: calc(var(--unit-size) * 12);

			h1 {
				font-size: calc(var(--unit-size) * 1.5);
			}

			img {
				height: calc(var(--unit-size) * .5);
				margin: 0 calc(var(--unit-size) * .1);
				vertical-align: top;
				margin: 0 calc(var(--unit-size) * .1);
			}

			h2 {
				font-size: calc(var(--unit-size) * .5);
				margin: 0;
			}
		}

		&#details {
			color: #D2D8DA;
			background-color: #3B7E9C;
			width: calc(var(--unit-size) * 3.5);
			height: calc(var(--unit-size) * 5);
			padding: calc(var(--unit-size) * .5) calc(var(--unit-size) * .25) calc(var(--unit-size) * .5);

			h2 {
				font-size: calc(var(--unit-size) * .3);
				margin: 0;
			}

			img {
				height: calc(var(--unit-size) * .3);
				vertical-align: top;
				margin: 0 calc(var(--unit-size) * .1);
			}
		}

		&#desc {
			height: calc(var(--unit-size) * 4.5);
			width: calc(var(--unit-size) * 8);
			padding: calc(var(--unit-size) * .5);
			font-size: calc(var(--unit-size) * .3);
		}

		&#sub {
			width: calc(var(--unit-size) * 3.5);
			height: calc(var(--unit-size) * 4.5);
			justify-content: flex-end;

			* {
				align-items: end;
			}

			h2 {
				font-size: calc(var(--unit-size) * .3);
				margin: 0;
				text-align: right;
			}

			img {
				height: calc(var(--unit-size) * .3);
				vertical-align: top;
				margin: 0 calc(var(--unit-size) * .1);
			}

			button {
				width: calc(var(--unit-size) * 3.5);
				height: calc(var(--unit-size) * .5);
				font-size: calc(var(--unit-size) * .3);
				border: none;
				padding: none;
				text-align: center;
			}
		}
	}
}