.container {
	width: 400px;
	text-align: justify;
	font-size: 18px;
	padding: 5px;
	// border-left: solid var(--primary) 2px;
	img {
		--imgsize: 500px;
		width: var(--imgsize);
		height: 300px;
		object-fit: cover;
		margin: 10px calc((400px - var(--imgsize)) / 2) 20px;
	}
}

//mobile version, OR pc version with vw <= vh
@media (any-pointer: coarse), (max-width: 100vh) and (any-pointer: fine) {
	.container {
		width: 100vw;
		text-align: justify;
		font-size: 16px;
		padding: 6vw;
		// border-left: solid var(--primary) 2px;
		img {
			--imgsize: 90vw;
			width: var(--imgsize);
			height: 300px;
			object-fit: cover;
			margin: 10px calc((88vw - var(--imgsize)) / 2) 20px;
		}
	}
}