.footer {
	background-color: #212529;
	color: #FFFFFE;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 10;
	height: 12vh;
	display: flex;
	flex-direction: column;

	img {
		height: 2vh;
		width: auto;
	}

	div {
		text-align: center;
		display: flex;
		flex-direction: row;
	}
}