.footer {
	bottom: sticky;
	background-color: #212529;
	color: #FFFFFE;
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 10;
	/* margin-top: 100%; */
}

.horizontal_div_footer {
	display: flex;
	text-align: center;
	justify-content: center;
}

.horizontal_div_footer div, .horizontal_div_footer a {
	margin: .5%;
}

.horizontal_div_footer img {
	margin: 5px;
	width: 25px;
	padding: 0;
	height: auto;
	object-fit: contain;
}