footer{
	bottom: sticky;
	background-color: #0E0E0E;
	color: #FFFFEE
}

.horizontal_div{
	display: flex;
	text-align: center;
	justify-content: center;
}

.horizontal_div div{
	margin: .5%;
}

.horizontal_div img{
	margin: .5%;
}
