.container {
	hr {
		display: none;
	}
	display: flex;
	justify-content: space-between;
	padding: 10px 50px;
	background-color: #151E23;
	color: #D2D8DA;
	height: 80px;
	font-family: Futura;

	a {
		color: inherit;
		text-decoration: inherit;
	}

	h1 {
		text-transform: uppercase;
		color: #B0BABF;
		font-size: 20px;
		margin: 0 0 0 20px;
		padding: 17px 5px;
	}

	h1:hover {
		color: #D2D8DA;
		transition: 0.4s;
	}

	.leftContainer {
		display: flex;
	}

	.admin {
		display: none;
	}

	.burger {
		display: inline;
	}

	.rightContainer {
		display: flex;

		img,
		svg {
			height: 40px;
			width: 40px;
			margin: 10px 5px;
			padding: 0;
		}

		.dropdownContainer {
			font-family: Futura;

			h1 {
				color: #D2D8DA;
			}

			img#logout {
				height: 40px;
				width: 40px;
				margin: 10px 5px;
				padding: 0;
			}
		}
	}

	.dropdownContainer {
		display: none;
	}

	.buttonContainer {
		display: none;
	}

	.logoContainer {
		display: flex;
		margin-right: 10px;

		img {
			height: 60px;
			width: 60px;
		}

		h1 {
			text-transform: none;
			font-size: 30px;
			color: #D2D8DA;
			margin: 0;
			padding: 10px 5px;
		}
	}

	#burgerMenu {
		background: var(--black);
		position: absolute;
		top: 0;
		left: 100vw;
		height: 100vh;
		width: 0;
		overflow: hidden;
		transition: 0.5s;
		text-align: left;
		padding: 0;
		z-index: 9999;

		a {
			h1 {
				margin: 0;
				font-size: 25px;
			}
		}

		hr {
			display: block;
			margin: 5px 0 5px -20px;
			width: calc(100vw - 40px);
		}

		#x {
			text-align: right;
			padding: 20px 55px 0 calc(100vw - 40px - 55px - 40px);
			margin-bottom: 20px;

			svg {
				height: 40px;
				width: 40px;
			}
		}
	}
}
@media screen and (min-width: 100vh) {
	.container {
		.buttonContainer {
			display: flex;
		}

		.admin {
			display: inline;
		}

		.dropdownContainer {
			display: inline;
		}

		.burger {
			display: none;
		}
	}
}
