.container {
	display: flex;
	justify-content: space-between;
	padding: 1vh 5vw;
	background-color: #151E23;
	color: #D2D8DA;
	height: 8vh;
	font-family: Futura;
	// font-weight: bolder;
	a {
		color: inherit;
		text-decoration: inherit;
	}

	h1 {
		color: #B0BABF;
		font-size: 2vh;
		margin: 0;
		padding: 1.7vh 0.5vw;
	}

	h1:hover {
		color: #D2D8DA;
		transition: 0.4s;
	}

	.leftContainer {
		display: flex;
	}

	.rightContainer {
		display: flex;

		img {
			height: 4vh;
			width: 4vh;
			margin: 1vh 0.5vw;
			padding: 0;
		}

		.dropdownContainer {
			font-family: Futura;

			h1 {
				color: #D2D8DA;
			}

			img#logout {
				height: 2vh;
				width: 2vh;
				margin: 1vh 0.5vw;
				padding: 0;
			}
		}
	}

	.buttonContainer {
		display: flex;
		gap: 0.1vw;
	}

	.logoContainer {
		display: flex;
		margin-right: 1vw;

		img {
			height: 6vh;
			width: 6vh;
		}

		h1 {
			font-size: 3vh;
			color: #D2D8DA;
			margin: 0;
			padding: 1vh 0.5vw;
		}
	}
}