.homeContainer {
	.frontImage {
		width: 100vw;
		height: 400px;
		overflow: hidden;

		img {
			width: 100vw;
			height: 400px;
			object-fit: cover;
		}

		div {
			position: relative;
			top: -400px;
			left: 0;
			width: 100vw;
			height: 400px;

			&.color {
				background-color: var(--primary);
				padding: 0 0 0 20px;
				opacity: 0.8;
			}

			&.text {
				top: -800px;
				color: var(--white);
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 20px 0;

				p {
					line-height: 0.8;
				}

				h1 {
					transform: skew(-15deg);
					font-size: 120px;
					vertical-align: middle;
					font-family: Futura;
					font-weight: bold;
				}
			}
		}
	}

	.presentation {
		color: var(--black);
		background: var(--white);
		padding: 100px 500px;
	}

	.lists {
		display: flex;
		justify-content: center;
		background: var(--white);
		color: var(--black);
		margin: 0 0 500px;
		height: 800px;

		div.col {
			width: 500px;
			margin: 0 50px;

			&.eventFilter {
				position: relative;

				#dropdownButton {
					margin: 10px;
					border: solid var(--light-grey) 1px;
				}

				#dropdownMenu {
					padding: 10px;
					border: solid var(--light-grey) 1px;
					z-index: 9999;
					display: none;
					position: absolute;
					background: var(--white);
				}
			}
		}
	}
}
@media (max-width: 100vh) {
	.homeContainer {
		.lists {
			display: block;
		}
	}
}