.homeContainer {
	.frontImage {
		width: 100vw;
		height: 400px;
		overflow: hidden;

		img {
			width: 100vw;
			height: 400px;
			object-fit: cover;
		}

		div {
			position: relative;
			top: -400px;
			left: 0;
			width: 100vw;
			height: 400px;

			&.color {
				background-color: var(--primary);
				padding: 0 0 0 20px;
				opacity: 0.8;
			}

			&.text {
				top: -800px;
				color: var(--white);
				text-align: center;
				display: table;
				text-transform: uppercase;

				h1 {
					font-size: 120px;
					display: table-cell;
					vertical-align: middle;
					font-family: Futura;
					font-weight: bold;
				}
			}
		}
	}

	.presentation {
		color: var(--black);
		background: var(--white);
		padding: 100px 500px;
	}

	.lists {
		display: flex;
		justify-content: center;
		background: var(--dark-grey);
		color: var(--white);
		margin: 0 0 100px;

		div.col {
			width: 500px;
			margin: 0 50px;

			&.eventFilter {
				position: relative;

				button {}

				#dropdownMenu {
					display: none;
					position: absolute;
				}
			}
		}
	}
}