.homeContainer {
	.frontImage {
		width: 100%;
		overflow: hidden;

		img {
			width: 100%;
			object-fit: cover;
		}

		div {
			position: relative;
			left: 0;
			width: 100%;

			&.color {
				background-color: var(--primary);
				padding: 0 0 0 20px;
				opacity: 0.8;
			}

			&.text {
				color: var(--white);
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;

				p {
					line-height: 0.8;
				}

				h1 {
					transform: skew(-15deg);
					//font-size: 120px;
					vertical-align: middle;
					font-family: Futura;
					font-weight: bold;
				}
			}
		}
	}

	.presentationContainer {
		padding: 20px;

		h2 {
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
		}

		.bureauFaces {
			display: flex;
			text-align: center;
			flex-wrap: wrap;
			justify-content: center;

			.pole {
				width: 300px;

				.equipePictureContainer {
					position: relative;
					padding: 25px;
					margin: 25px;

					&:after {
						content: "";
						border-color: var(--black);
						border-width: 0 2px 2px;
						border-style: solid;
						position: absolute;
						bottom: 0;
						left: 0;
						height: 15px;
						width: 100%;
					}

					img {
						height: 100px;
						width: 100px;
						object-fit: cover;
					}
				}
			}
		}
	}

	.lists {
		justify-content: space-around;
		background: var(--white);
		color: var(--black);

		h2 {
			text-transform: uppercase;
			text-align: center;
		}

		div.col {
			&.eventFilter {
				width: 400px;

				#dropdownButton {
					width: 80px;
					border: solid var(--secondary-dark) 1px;
					background: var(--secondary);
					color: var(--white);

					&:hover {
						background: var(--secondary-dark);
					}

					&:active {
						background: var(--secondary-dark);
					}
				}

				#dropdownMenu {
					border: solid var(--dark-grey) 1px;
					width: 200px;
					z-index: 2;
					display: none;
					position: relative;
					background: var(--light-grey);
					
					input {
						margin: 5px;
					}
				}

				#dropdownBg {
					width: 100vw;
					height: 100vh;
					position: fixed;
					z-index: 1;
					top: 0;
					left: 0;
					background: rgba(0,0,0,0.5);
					backdrop-filter: blur(1px);
					display: none;
				}
			}
		}

		.ProductListContainer {
			--margin: 10px;
			--padding: 5px;
			width: var(--colWidth);

			.thumbnailsContainer {
				margin: var(--margin);
				height: calc((var(--colWidth) - 2 * var(--margin)) / 3 * 2);
				width: calc(var(--colWidth) - 2 * var(--margin));
				display: flex;

				&#load {
					img {
						padding: calc(100% - 10px);
					}
				}

				img {
					transition: 0.2s ease-out;
					padding: var(--padding);
					width: calc((var(--colWidth) - 2 * var(--margin)) / 3 * 2);
					height: calc((var(--colWidth) - 2 * var(--margin)) / 3 * 2);
					object-fit: cover;

					&:hover {
						transition: 0.2s ease-out;
						padding: 0;
					}
				}

				.miniThumbnailsContainer {
					img {
						width: calc((var(--colWidth) - 2 * var(--margin)) / 3);
						height: calc((var(--colWidth) - 2 * var(--margin)) / 3);
					}
				}
			}
		}
	}
}

//mobile
@media (any-pointer: coarse) {
	.homeContainer {
		.frontImage {
			height: 200px;

			img {
				height: 200px;
			}

			div {
				top: -200px;
				height: 200px;

				&.text {
					top: -400px;
					padding: 10px;
					margin: 0;

					span {
						margin: 10px 0 0;

						p {
							line-height: 13px;
							margin: 15px 0;
							font-size: 12px;
						}
					}

					h1 {
						font-size: 30px;
					}
				}
			}
		}

		.lists {
			display: block;
			height: auto;

			h2 {
				margin: 30px 4vw 0;
				font-weight: bold;
			}

			hr {
				width: 0;
				margin: 4vw 2vw;
				display: none;
			}

			h2 + hr {
				width: 96vw;
				display: block;
			}

			div.col {
				margin-top: 30px;

				&.eventFilter {
					#dropdownButton {
						padding: 5px;
						margin: 10px calc((100vw - 80px) / 2);
					}

					#dropdownMenu {
						padding: 15px;
						font-size: 1.2em;
						left: calc((100vw - 80px) / 2);
						top: -10px;

						input {
							width: 20px;
							height: 20px;
						}
					}
				}
			}

			.ProductListContainer {
				--colWidth: 100vw;
			}
		}
	}
}

//pc
@media (any-pointer: fine) {
	.homeContainer {
		.frontImage {
			height: 520px;

			img {
				height: 520px;
			}

			div {
				top: -520px;
				height: 520px;

				&.text {
					top: -1040px;
					padding: 20px 0;
					margin: 50px 0 0;

					span {
						margin: 120px 0 0;
					}

					h1 {
						font-size: 120px;
					}
				}
			}
		}

		.lists {
			display: flex;
			height: 800px;

			h2 {
				margin: 70px 0;
				font-weight: bold;
			}

			h2 + hr {
				display: none;
			}

			div.col {
				margin: 0;

				&.eventFilter {

					#dropdownButton {
						padding: 5px 15px;
						margin: 30px 160px 0;
					}

					#dropdownMenu {
						padding: 10px;
						top: -210px;
						left: 160px;
					}
				}
			}

			.ProductListContainer {
				--colWidth: 550px;
			}
		}
	}
}

#filter {
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	backdrop-filter: blur(50px);
	width: 100vw;
	height: 100vh;
	animation: 0.2s linear 0s blurAppear;
	z-index: 2;

	#outArea {
		width: 100vw;
		height: 100vh;
		position: absolute;
		z-index: -1;
	}
}
@keyframes blurAppear {
	0% {
		backdrop-filter: blur(0px);
		background: rgba(0,0,0,0);
	}

	100% {
		backdrop-filter: blur(50px);
		background: rgba(0,0,0,0.5);
	}
}