@media (max-width: 100vh) {
	.nopage {
		color: var(--white);
		padding: 0 10vw;
		min-height: 100vh;
		background-color: var(--black);

		h1 {
			font-size: 100px;
			text-align: center;
			padding: 50px 0 0;
		}

		h2 {
			color: var(--light-grey);
			font-size: 20px;
			text-align: center;
			margin-top: -10px;
			padding-bottom: 20vh;
		}

		h3 {
			font-size: 25px;
			text-align: center;
			font-style: italic;
		}

		.boat img {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			margin: 0 calc((100% - 100px) / 2);
		}
	}
}
@media (min-width: 100vh) {
	.nopage {
		cursor: none;

		body {
			overflow: hidden;
		}

		.body {
			height: 100vh;
			width: 100vw;
			background: url("https://cdn.discordapp.com/attachments/907303542438629406/1024296461967564920/NoPage.png") no-repeat left top;
			background-size: cover;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
		}

		.boat {
			display: none;
		}

		.text h1 {
			color: var(--primary);
			position: relative;
			top: -15vh;
			font-size: 15em;
			text-align: center;
			text-shadow: -5px 5px 0 var(--secondary-dark), -10px 10px 0 #C3FCF1D5, -15px 15px 0 #4B8077E0;
			font-family: monospace;
			font-weight: bold;
		}

		.text h2 {
			color: var(--primary);
			font-size: 5em;
			position: relative;
			top: 25vh;
			text-shadow: -3px 3px 0 var(--secondary-dark);
			text-align: center;
			margin-top: -150px;
			font-family: monospace;
			font-weight: bold;
		}

		.text h3 {
			color: var(--primary);
			position: relative;
			top: -6vh;
			text-shadow: -3px 3px 0 var(--secondary-dark);
			font-size: 4em;
			font-family: monospace;
			font-weight: bold;
		}

		.torch {
			margin: -300px 0 0 -300px;
			width: 600px;
			height: 600px;
			box-shadow: 0 0 0 9999em #000000;
			opacity: 1;
			border-radius: 100%;
			position: fixed;
			top: 0;
			background: rgba(0, 0, 0, 0.3);
		}

		.torch::after {
			content: '';
			display: block;
			border-radius: 50%;
			width: 100%;
			height: 100%;
			box-shadow: inset 0 0 40px 15px #000, 0 0 20px 4px rgba(13, 13, 10, 0.2);
		}
	}
}