@keyframes productAppear {
	0% {
		transform: translateX(100vh);
	}

	100% {
		transform: translateX(0);
	}
}

.productContainer {
	animation: 0.2s linear 0s productAppear;
	margin: 50px auto;
	padding: 50px;
	font-family: Futura;
	color: var(--black);
	background: var(--white);
	width: 1000px;

	.productFile {
		display: flex;

		.album {
			display: flex;

			ul {
				height: 300px;
				width: 70px;
				padding: 0;
				overflow: auto;

				li {
					margin: 0 0 5px;
					list-style-type: none;

					.thumbnail {
						height: 50px;
						width: 50px;
						object-fit: cover;
					}
				}
			}

			.cover {
				height: 500px;
				width: 400px;
				border-radius: 10px;
				object-fit: cover;
			}
		}

		.description {
			margin: 0 0 0 60px;
		}
	}
}