@keyframes productAppear {
	0% {
		transform: translateX(100vh);
	}

	100% {
		transform: translateX(0);
	}
}

.productContainer {
	animation: 0.2s linear 0s productAppear;
	margin: 50px auto;
	padding: 50px;
	font-family: Futura;
	color: var(--black);
	background: var(--white);
	width: 1200px;

	.productFile {
		display: flex;

		.album {
			display: flex;

			ul {
				height: 300px;
				width: 70px;
				padding: 0;
				overflow: auto;

				li {
					margin: 0 0 5px;
					list-style-type: none;

					.thumbnail {
						height: 50px;
						width: 50px;
						object-fit: cover;
					}
				}
			}

			.cover {
				height: 500px;
				width: 400px;
				border-radius: 10px;
				object-fit: cover;
			}
		}

		.description {
			margin: 0 0 0 60px;

			h1 {
				font-size: 50px;
				text-transform: capitalize;
			}

			p {
				height: 200px;
				width: 570px;
				overflow: auto;
				font-size: 20px;
				margin: 50px 0 30px;
			}

			.form {
				padding: 0 177px 0 50px;
				display: flex;
				justify-content: space-between;
				flex-direction: row;

				div {
					display: flex;
					flex-direction: column;
				}

				label {
					margin: 20px 0 5px;
				}

				select {
					width: 100px;
				}

				input {
					display: none;

					& + label {
						margin: 0;
						width: 30px;
						height: 30px;
						padding: 2px;
						border-radius: 100%;
						background-color: var(--my-color);
						cursor: pointer;
						border-spacing: 2px;
						background-clip: content-box;
					}

					&:checked + label {
						margin: 0;
						border: solid var(--primary) 2px;
						border-spacing: 2px;
					}
				}
			}

			dl {
				padding: 0 180px 0 50px;
				display: flex;
				justify-content: space-between;
				margin: 20px 0;

				div {
					flex-direction: column;

					&#price {
						position: relative;
						left: 40px;
						font-size: 30px;
					}
				}
			}
		}
	}
}