.purchase {
	display: flex;
	justify-content: space-around;
	padding: 20px 100px;

	.left {
		margin: 20px;
		width: 460px;

		.intro {
			p {}

			hr {}
		}

		.payment {
			form {
				margin: 10px 0;
				padding: 10px;

				label {
					margin-bottom: 10px;
				}

				.formLine {
					display: flex;
					flex-direction: row !important;

					div {
						margin: 0 5px 10px;
						width: 200px;
						display: flex;
						flex-direction: column;
					}
				}

				.formMargin {
					margin: 20px 0;
					display: flex;
					flex-direction: column;

					&#address label {
						margin-left: 5px;
					}
				}

				.country {
					padding: 0 10px;
					width: 440px;
				}

				.mail {
					padding: 0 10px;
					width: 440px;
				}
			}

			button {
				margin-bottom: 50px;
				width: 100px;
				height: 30px;
				border: none;
				color: var(--white);

				&#validate {
					margin-left: 220px;
					background: var(--primary);

					&:hover {
						background: var(--primary-dark);
					}
				}

				&#undo {
					margin-left: 20px;
					background: var(--light-grey);

					&:hover {
						background: var(--dark-grey);
					}
				}
			}

			.paypal {
				margin-left: 20px;
				width: 420px;
			}
		}
	}

	.recap {
		margin: 20px;
		width: 400px;

		p {
			a {}
		}

		table {
			margin: 40px 0;
			min-width: 400px;

			tr {
				td,
				th {
					&:nth-of-type(2) {
						text-align: right;
					}
				}
			}
		}
	}
}
