.bodyContainer {
	min-height: calc(100vh - 80px - 120px);
	background: var(--white);
	color: var(--black);

	* {
		font-family: Futura;
	}
}

.scroll {
	width: 100vw;
	height: calc(100vh - 80px);
	overflow: auto;
}
