.bodyContainer {
	min-height: 80vh;
	background: var(--white);
	color: var(--black);

	* {
		font-family: Futura;
	}
}

.scroll {
	width: 100vw;
	height: 92vh;
	overflow-y: auto;
	overflow-x: hidden;
}