.profileContainer {
	padding: 20px;

	.profileInfoContainer {
		--image-size: 300px;
		display: flex;
		width: calc(var(--image-size) * 2 + 40px + 250px + 80px);

		.profilePictureContainer {
			position: relative;
			height: calc(var(--image-size) + 40px);
			width: calc(var(--image-size) + 40px);

			img {
				margin: 20px;
				position: absolute;
				width: var(--image-size);
				height: var(--image-size);
				padding: 5px;
				object-fit: cover;

				&.premium {
					border: solid var(--premium-gold-logo) 5px;
				}
			}

			svg {
				margin: 20px;
				width: 40px;
				position: absolute;
				transform: rotate(9deg);
				left: calc(var(--image-size) / 2.2);
				top: calc(var(--image-size) / 20);
			}
		}

		.identityContainer {
			width: 250px;
			text-align: center;
			margin: 0 40px;

			h1 {
				text-transform: uppercase;
				font-weight: bold;
			}

			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;

				li {
					margin: 20px 0;

					b {}

					svg {
						width: 40px;
						height: 40px;
					}
				}
			}
		}

		.qrContainer {
			display: none;
			margin: 20px;

			button {
				border: none;
				background: var(--secondary);
				color: var(--white);
				padding: 5px;
				margin: 5px;
				text-transform: uppercase;

				&:hover {
					background: var(--secondary-dark);
				}
			}

			.blurryBg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				backdrop-filter: blur(50px);

				.qrPopup {
					background: var(--white);
					width: 90vw;
					margin: 5vw;
					padding: 5vw;

					svg {
						width: 80vw;
						height: 80vw;
					}
				}
			}
		}
	}

	.emailFieldContainer {
		margin: 20px 40px;

		input {
			padding: 5px;
			margin: 5px;
		}

		button {
			border: none;
			background: var(--primary);
			color: var(--white);
			padding: 5px;
			margin: 5px;
			text-transform: uppercase;

			&:hover {
				background: var(--primary-dark);
			}
		}
	}

	.historySelectorContainer {
		.historySelector {
			ul {
				padding: 0;
				width: 600px;
				margin: 0;

				li {
					display: inline;

					input[type="radio"] {
						opacity: 0;
						position: fixed;
						width: 0;

						& + label {
							text-align: center;
							width: 190px;
							background: var(--white);
							padding: 5px;
							margin: 5px;
							border: none;

							&:hover {
								cursor: pointer;
							}
						}

						&:checked {
							& + label {
								border-bottom: solid var(--primary) 2px;
							}
						}
					}
				}
			}
		}

		.historyContent {
			width: 600px;
			margin: 0;
			padding: 0;

			.listContainer {
				height: 1050px;

				div {
					height: auto;
				}

				h3 {
					text-align: center;
				}

				ul {
					margin: 0;
					padding: 0;
					list-style: none;

					li {}
				}

				.pagination {
					height: 32px;

					ul {
						display: flex;
						flex-direction: row;
						justify-content: center;
					}
				}

				&#contrib {
					h3 {}

					ul {
						text-align: center;

						li {
							margin: 20px;

							p {
								margin: 0;
							}
						}
					}
				}

				&#event {
					width: 600px;

					h3 {}

					ul {
						&#eventList {
							height: 900px;
						}
						width: 600px;

						li {
							a {
								height: 175px;
							}

							&:nth-last-of-type(1) {
								hr {
									display: none;
								}
							}
						}
					}
				}

				&#order {
					h3 {}

					ul {
						li {
							a {}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 100vh) {
	.profileContainer {
		.profileInfoContainer {
			.profilePictureContainer {
				img {
					&.premium {}
				}

				svg {}
			}

			.identityContainer {
				h1 {}

				ul {
					li {
						b {}

						img {}
					}
				}
			}

			.qrContainer {
				a {
					svg {}
				}
			}
		}

		.emailFieldContainer {
			input {}

			button {}
		}

		.historySelectorContainer {
			.historySelector {
				ul {
					li {
						a {}
					}
				}
			}

			.historyContent {
				div {
					h3 {}

					ul {
						li {}
					}

					&.contrib {
						h3 {}

						ul {
							li {}
						}
					}

					&.event {
						h3 {}

						ul {
							li {}
						}
					}

					&.order {
						h3 {}

						ul {
							li {
								a {}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 100vh) {
	.profileContainer {
		.profileInfoContainer {
			.profilePictureContainer {
				img {
					&.premium {}
				}

				svg {}
			}

			.identityContainer {
				h1 {}

				ul {
					li {
						b {}

						svg {}
					}
				}
			}

			.qrContainer {
				display: inline-block;

				button {
					&:hover {}
				}

				.blurryBg {
					.qrPopup {
						svg {}
					}
				}
			}
		}

		.emailFieldContainer {
			input {}

			button {
				&:hover {}
			}
		}

		.historySelectorContainer {
			.historySelector {
				ul {
					li {
						input[type="radio"] {
							& + label {
								&:hover {}
							}

							&:checked {
								& + label {}
							}
						}
					}
				}
			}

			.historyContent {
				div {
					h3 {}

					ul {
						li {}
					}

					&.contrib {
						h3 {}

						ul {
							li {}
						}
					}

					&.event {
						h3 {}

						ul {
							li {}
						}
					}

					&.order {
						h3 {}

						ul {
							li {
								a {}
							}
						}
					}
				}
			}
		}
	}
	@media (max-width: 100vh) {
		.profileContainer {
			.profileInfoContainer {
				.profilePictureContainer {
					img {
						&.premium {}
					}

					svg {}
				}

				.identityContainer {
					h1 {}

					ul {
						li {
							b {}

							img {}
						}
					}
				}

				.qrContainer {
					a {
						svg {}
					}
				}
			}

			.emailFieldContainer {
				input {}

				button {}
			}

			.historySelectorContainer {
				.historySelector {
					ul {
						li {
							a {}
						}
					}
				}

				.historyContent {
					div {
						h3 {}

						ul {
							li {}
						}

						&.contrib {
							h3 {}

							ul {
								li {}
							}
						}

						&.event {
							h3 {}

							ul {
								li {}
							}
						}

						&.order {
							h3 {}

							ul {
								li {
									a {}
								}
							}
						}
					}
				}
			}
		}
	}
}