.profileContainer {
	padding: 20px;

	.profileInfoContainer {
		--image-size: 300px;
		display: flex;

		.profilePictureContainer {
			position: relative;
			height: calc(var(--image-size) + 40px);
			width: calc(var(--image-size) + 40px);

			img {
				margin: 20px;
				position: absolute;
				width: var(--image-size);
				height: var(--image-size);
				padding: 5px;
				object-fit: cover;

				&.premium {
					border: solid var(--premium-gold-logo) 5px;
				}
			}

			svg {
				margin: 20px;
				width: 40px;
				position: absolute;
				transform: rotate(9deg);
				left: 85px;
				top: 10px;
			}
		}

		.identityContainer {
			text-align: center;

			h1 {}

			ul {
				li {}
			}
		}

		.qrContainer {
			margin: 20px;

			a {
				svg {
					width: var(--image-size);
					height: var(--image-size);
				}
			}
		}
	}

	.emailFieldContainer {
		input {}

		button {}
	}

	.historySelectorContainer {
		.historySelector {
			ul {
				li {
					a {}
				}
			}
		}

		.historyContent {
			div {
				h3 {}

				ul {
					li {}
				}

				&.contrib {
					h3 {}

					ul {
						li {}
					}
				}

				&.event {
					h3 {}

					ul {
						li {}
					}
				}

				&.order {
					h3 {}

					ul {
						li {
							a {}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 100vh) {
	.profileContainer {
		.profileInfoContainer {
			.profilePictureContainer {
				img {
					&.premium {}
				}

				svg {}
			}

			.identityContainer {
				h1 {}

				ul {
					li {}
				}
			}

			.qrContainer {
				a {
					svg {}
				}
			}
		}

		.emailFieldContainer {
			input {}

			button {}
		}

		.historySelectorContainer {
			.historySelector {
				ul {
					li {
						a {}
					}
				}
			}

			.historyContent {
				div {
					h3 {}

					ul {
						li {}
					}

					&.contrib {
						h3 {}

						ul {
							li {}
						}
					}

					&.event {
						h3 {}

						ul {
							li {}
						}
					}

					&.order {
						h3 {}

						ul {
							li {
								a {}
							}
						}
					}
				}
			}
		}
	}
}