{
	"contributionTime": 6,
	"contributionPrice": 10,
	"JWT_SECRETKEY": "",
	"intra_uid":"",
	"intra_secret": "",
	"session_secret":"",
	"_dbpw":"",
	"_rdpw":"",
	"url_client":"http://k1r2p10:8080",
	"paypalId":"",
	"paypalSecret":"",
	"paypalBase":"https://api-m.sandbox.paypal.com",
	"host":
	{
		"docker":
		{
			"redis": "redis",
			"postgres": "postgres"
		},
		"local":
		{
			"redis" : "localhost",
			"postgres": "localhost"
		}
	},
	"emailjs":
	{
		"user_id": "-8vO",
		"service_id": "",
		"accessToken": "",
		"template_id": {
			"contrib": "",
			"contact": ""
		}
	},
	"_aes": {
        "key": {
            "type": "Buffer",
            "data": [

            ]
        },
        "iv": {
            "type": "Buffer",
            "data": [

            ]
        }
    }
}
